<tr>
  <td><%= document.id %></td>
  <td><%= number_to_currency(document.loan_amount, precision: 0) %></td>
  <td><%= number_to_currency(document.down_payment,precision: 0) %></td>
  <td><%= number_to_percentage(document.interest_rate, precision: 0) %></td>
  <td><%= link_to document.pdf.url, target: '_blank', class: 'btn btn-info' do %>
      <span class='glyphicon glyphicon-open-file'></span>
        PDF
      <% end %>
  </td>
</tr>