<%= form_for @document, url: user_documents_path(current_user), remote: true, html: { class: 'form-horizontal', id: 'doc-form' } do |f| %>

  <div class='form-group'>
    <%= f.label :loan_amount, class: 'col-sm-3 control-label' %>
    <div class='input-group col-sm-8'>
      <div class='input-group-addon'>$</div>
      <%= f.text_field :loan_amount, type: 'number', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :down_payment, class: 'col-sm-3 control-label' %>
    <div class='input-group col-sm-8'>
      <div class='input-group-addon'>$</div>
      <%= f.text_field :down_payment, type: 'number', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.label :interest_rate, class: 'col-sm-3 control-label' %>
    <div class='input-group col-sm-8'>
      <%= f.text_field :interest_rate, type: 'number', class: 'form-control' %>
      <div class='input-group-addon'>%</div>
    </div>
  </div>

  <div class='form-group'>
    <div class='col-sm-offset-3'>
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  </div>

<% end %>

<% if @document.errors %>
  <% @document.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>