<!DOCTYPE html>
<html>
<head>
  <title>Docuapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class='row bg-primary'>
    <div class="container pad-top-15 pad-bottom-15">

        <div class='pull-right' id='user_nav'>
          <% if user_signed_in? %>
              Signed in as <%= current_user.email %>.
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn btn-default' %>
          <% else %>
            <%=link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %> or <%= link_to 'Log in', new_user_session_path, class: 'btn btn-default' %>
          <% end %>
        </div>

    </div>
  </div>

  <div class='container margin-top-15'>
    <%= render 'layouts/messages' %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
